extends layout

block content
  h1= title
  p Welcome to #{title}

  p Authentication status: #{Auth}
  if UserDetails
    p Details: 
    - var photo = UserDetails.picture
    ul
      li Name: #{UserDetails.name} 
      li Email: #{UserDetails.email}
      li Locale: #{UserDetails.locale}
      li Photo: 
        img(src=photo)

    ul
      li Authenticate
      li Test service
    p 
      a(href='/logout') logout
  else 
    p 
      a(href='/login') login